# Java
*.class
*.jar
*.war
*.ear
/target/
/build/

# Logs
*.log

# Eclipse/IntelliJ
*.iml
.idea/
*.ipr
*.iws
*.classpath
*.project
*.settings/

# VSCode
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Docker
**/tmp/
**/data/
.env
